html, body { margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden}
html,button,input,select,textarea { font-family: sans-serif; }
.content { min-height: 100%; position: relative; overflow: auto; z-index: 0;}
.center_block {position: absolute;height: 99%; width:99%; left: 0%;top: 0%;}
.name-letter { float:left;width: 3%; text-align: center; font-size: 22px; font-family: sans-serif; color: #000000;}
.letter-div { position: absolute;top:35%;width:23px;z-index: 10;}
.rabbit-div {position:absolute; top:130%;left:46%;background-color : transparent;}
.sign-div {position:absolute; top:120%;left:50%;%;background-color : transparent;}
.small-image{height:50%;width:50%;}
.S-letter-div{left:22%;}
.T-letter-div{left:26%;}
.E1-letter-div{left:30%;}
.V-letter-div{left:34%;}
.E2-letter-div{left:38%;}
.M-letter-div{left:46%;}
.c-letter-div{left:50%;}
.C-letter-div{left:54%;}
.U1-letter-div{left:58%;}
.L1-letter-div{left:62%;}
.L2-letter-div{left:66%;}
.O-letter-div{left:70%;}
.U2-letter-div{left:74%;}
.G-letter-div{left:78%;}
.H-letter-div{left:82%;}
