@CHARSET "ISO-8859-1";

#header {
	width: 100%;
	background-color: red;
}

#main {
	background-color: black;
}

#columnNav {
	width: 100%;
	clear:both;
	background-color: green;
}



#columnSelect{
	float:right;
}

#contentColumnDiv{
	width:95%;
	height:95%;
	background-color: yellow;
	
}

#main{
	width:95%;
	height:95%;
	background-color: blue;
}

.contentColumn{
	width:75px;
	height:100%;
	background-color: purple;
	float: left;
}


#addColumnButton{
	float:right;
}